/********************************************
 LOGIN, REGISTER
********************************************/
.form {
  width: 100%;
}

.messageItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.messageItem:not(:last-child) {
  margin-bottom: 1rem;
}

.messageItem p {
  width: 180px;
}

@media only screen and (min-width: 600px) {
  .form {
    width: 80%;
  }

  .messageItem {
    flex-direction: row;
    text-align: left;
  }
}

@media only screen and (min-width: 900px) {
  .form {
    width: 70%;
  }
}

/********************************************
 PROFILE
********************************************/
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;

  width: 100%;
}

.personal {
  display: grid;
  margin-bottom: 3rem;
}

.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 40px;
}

.label {
  font-weight: 700;
  width: 95px;
}

.hide {
  display: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.image {
  display: none;
}

.details,
.hostfamily {
  background-color: var(--white);
  border-radius: 20px;
  filter: var(--shadow_sm);
  padding: 2rem;

  width: 100%;
}

#passwordBtn {
  display: none;
}

@media only screen and (min-width: 900px) {
  .grid {
    grid-template-columns: 300px repeat(2, 1fr);
    grid-template-rows: min-content repeat(2, 1fr);
    height: 100%;
    width: 100%;
  }

  .header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    margin-bottom: 0;
  }

  .imageContainer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    align-self: center;
  }

  .image {
    display: block;
    width: 100%;
    border-radius: 20px;
    filter: var(--shadow_sm);
  }

  .details {
    grid-column: 2 / -1;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-gap: 1rem;
  }

  .name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .buttons {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .personalHeader {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    margin: 0 !important;
  }

  .info {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .connect {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .personal {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .hostfamily {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .familyInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4rem;
    align-self: start;
  }

  #passwordBtn {
    display: block;
  }
}
