/********************************************
 LOGIN, REGISTER
********************************************/
.main {
  min-height: 100vh;
  width: 100vw;
}

.formWrapper {
  background-color: var(--white);
  border-radius: 2rem;
  filter: var(--shadow_sm);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  width: 100%;
}

.twoFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.twoFieldsInput {
  width: 100%;
}

.divider {
  position: relative;

  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.divider hr {
  border: none;
  border-top: 1px solid var(--grey_400);
  width: 100%;
}

.dividerText {
  position: absolute;

  background-color: var(--white);
  padding: 0 1.6rem;
}

@media only screen and (min-width: 600px) {
  .formWrapper {
    padding: 4rem;

    max-width: 500px;
    width: 70%;
  }

  .twoFields {
    flex-direction: row;
  }

  .twoFieldsInput {
    width: calc(100% - 1rem);
  }
}

@media only screen and (min-width: 900px) {
}
