.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 100;

  backdrop-filter: blur(8px);
  background-color: var(--overlay);
  padding: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: var(--white);
  border-radius: 2rem;
  filter: var(--shadow_sm);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  position: relative;

  width: 100%;
  max-width: 600px;
  z-index: 100;
}

.header {
  display: flex;
  align-items: center;

  height: 4rem;
  width: calc(100% - 6rem);
}

.closeButton {
  height: 4rem;
  width: 4rem;

  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: unset;
  border: unset;
  color: var(--grey_700);
}

.closeButton:hover {
  background-color: var(--grey_50);
  border-radius: 100%;
  cursor: pointer;
}

.closeButton i {
  margin: 0;

  font-size: 2rem;
  line-height: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media only screen and (min-width: 600px) {
  .modal {
    min-width: 400px;
    max-width: 600px;
    width: unset;
  }
}

@media only screen and (min-width: 900px) {
  .modal {
    min-width: 500px;
  }
}