.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 1rem;

  height: 100%;
  width: 100%;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.container {
  grid-row: 3 / 4;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  grid-gap: 1rem;
}

.form {
  grid-row: 2 / 3;
}

.listHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 3rem;
  grid-gap: 1rem;

  font-size: 1.25rem;
  font-weight: bold;

  border-bottom: 1px solid #31313140;
  padding-bottom: 1rem;
}

.week {
  grid-column: 1 / 2;
}

.date {
  grid-column: 2 / 3;
}

.due {
  grid-column: 3 / 4;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;

  height: 100%;
  align-items: center;
}

.listItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 3rem;
  grid-gap: 1rem;
}

.paidLate {
  border: 4px solid var(--error_600);
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 900px) {
}
