.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.6rem;

  height: 9rem;
  min-width: 20rem;
}

.hide {
  display: none;
}

.iconInputWrapper {
  position: relative;

  width: 100%;
}

.input {
  padding: 0 1.2rem;
}

.input.fullWidth {
  width: 100%;
}

.input.leftPadding {
  padding-left: 4rem;
}

.iconInputWrapper i {
  font-size: 1.6rem;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 4rem;

  position: absolute;
  top: 0;
  left: 0;
}

.input,
.profileInput,
.dateInput {
  background-color: var(--white);
  border: 1px solid var(--grey_300);
  border-radius: 0.8rem;
  box-shadow: var(--shadow_xs);
  font-size: 1.4rem;
  line-height: 2rem;
  transition: color 0.1s ease, border-color 0.1s ease;

  height: 4rem;
}

.input::placeholder,
.profileInput::placeholder,
.dateInput::placeholder {
  color: var(--grey_500);
}

.iconInput:active,
.iconInput:focus,
.iconInput:focus-visible,
.input:active,
.input:focus,
.input:focus-visible,
.profileInput:active,
.profileInput:focus,
.profileInput:focus-visible {
  box-shadow: var(--shadow_xs_focused);
  outline: transparent;
}

.disabled {
  background-color: var(--grey_50);
  color: var(--grey_500);
}

.error {
  border-color: var(--error_300);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  max-width: 100%;
}

.error:focus {
  box-shadow: var(--shadow_xs_focused_error);
}

.profileInput {
  font-size: 12px;
  width: 125px;
}

.dateInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  width: 100%;
}

.dateInput input {
  background-color: transparent;
  border: none;
  width: 100%;
}

/********************************************
 TIME
********************************************/
.twoFields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twoFields input {
  width: 100px;
}
