/********************************************
 PROFILE
********************************************/
.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 40px;
}

.stacked {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 1rem 0;
}

.label {
  font-weight: 700;
  min-width: 95px;
}

.field p {
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.hide {
  display: none;
}

.input,
.profileInput,
.dateInput {
  background-color: var(--white);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  font-size: 1em;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  transition: color 0.1s ease, border-color 0.1s ease;
}

.iconInput:active,
.iconInput:focus,
.input:active,
.input:focus,
.profileInput:active,
.profileInput:focus {
  border: 1px solid var(--primary_500);
}

.profileInput {
  font-size: 12px;
  width: 125px;
}

.dateInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  width: 100%;
}

.dateInput input {
  background-color: transparent;
  border: none;
  width: 100%;
}

/********************************************
 GENERAL
********************************************/
.input {
  margin: 0.5rem 0;
  width: 100%;
}

/********************************************
 TIME
********************************************/
.twoFields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twoFields input {
  width: 100px;
}
