.arrow {
  background-color: transparent;
  border: none;
}

.weeklyGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  grid-gap: 2rem;

  height: 100%;
  width: 100%;
}

.chooseDisplay {
  display: flex;
  align-items: center;
}

.chooseDisplay h5 {
  margin: 0 2rem;
  width: 100px;
}

.weeklyList {
  display: grid;
  row-gap: 1rem;
  margin: 0;
  padding: 0;

  height: 100%;
}

.weeklyItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  align-items: center;
}

.weeklyItem div {
  padding: 0.15rem;
}

.date {
  display: flex;
}

.weekday {
  width: 3rem;
}

.red {
  color: #e63946;
  font-weight: bold;
}

.green {
  color: #2c662d;
}

@media only screen and (min-width: 900px) {
  .chooseDisplay {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}
