/****************************************************************************
 COLORS
****************************************************************************/
:root {
  --white: #ffffff;

  --grey_25: #fcfcfd;
  --grey_50: #f9fafb;
  --grey_100: #f2f4f7;
  --grey_200: #eaecf0;
  --grey_300: #d0d5dd;
  --grey_400: #98a2b3;
  --grey_500: #667085;
  --grey_600: #475467;
  --grey_700: #344054;
  --grey_800: #1d2939;
  --grey_900: #101828;

  --primary_25: #fafcf5;
  --primary_50: #eef2db;
  --primary_100: #e1e8c2;
  --primary_200: #d4dea9;
  --primary_300: #c7d390;
  --primary_400: #b9c879;
  --primary_500: #abbc61;
  --primary_600: #87954b;
  --primary_700: #646e36;
  --primary_800: #3f4621;
  --primary_900: #1a1d0e;

  --secondary_25: #f2fafb;
  --secondary_50: #d0eef2;
  --secondary_100: #aee1e7;
  --secondary_200: #8dd4dc;
  --secondary_300: #6dc6d0;
  --secondary_400: #4eb7c3;
  --secondary_500: #2fa8b6;
  --secondary_600: #238691;
  --secondary_700: #18636b;
  --secondary_800: #0f3f45;
  --secondary_900: #061a1d;

  --tertiary_25: #fcf6f6;
  --tertiary_50: #f5dfdd;
  --tertiary_100: #edc8c5;
  --tertiary_200: #e4b1ae;
  --tertiary_300: #db9b97;
  --tertiary_400: #d28581;
  --tertiary_500: #c8706b;
  --tertiary_600: #9f5753;
  --tertiary_700: #753f3c;
  --tertiary_800: #4a2725;
  --tertiary_900: #1f100f;

  --success_25: #E3F7DE;
  --success_50: #C6EEBE;
  --success_100: #AAE69D;
  --success_200: #8EDD7D;
  --success_300: #71D55C;
  --success_400: #55CC3C;
  --success_500: #45B12E;
  --success_600: #399426;
  --success_700: #2E761F;
  --success_800: #225917;
  --success_900: #173B0F;

  --error_25: #fee5ee;
  --error_50: #feccdc;
  --error_100: #fd98b9;
  --error_200: #fc6c9b;
  --error_300: #fb4882;
  --error_400: #fa236a;
  --error_500: #f30553;
  --error_600: #cb0445;
  --error_700: #a20337;
  --error_800: #7a0329;
  --error_900: #51021c;

  --warning_25: #fff9ec;
  --warning_50: #fff3d9;
  --warning_100: #fee8b3;
  --warning_200: #fedc8c;
  --warning_300: #fdd166;
  --warning_400: #fdcb53;
  --warning_500: #fdc540;
  --warning_600: #dc6803;
  --warning_700: #b54708;
  --warning_800: #93370d;
  --warning_900: #7a2e0e;

  --font_brand: 'grand_hotelregular', 'Helvetica', 'Helvetica Neue', sans-serif;
  --font_regular: 'Lato', 'Helvetica', 'Helvetica Neue', sans-serif;

  --shadow_xs: 0 1px 2px #1018280d; /* box-shadow */
  --shadow_sm: drop-shadow(0 1px 3px #10182810) drop-shadow(0 1px 2px #10182806); /* filter */
  --shadow_md: ;
  --shadow_lg: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);

  --shadow_xs_focused: 0 1px 2px #1018280d, 0 0 0 4px #e1e8c2;
  --shadow_xs_focused_error: 0 1px 2px #1018280d, 0 0 0 4px #fee5ee;
  --shadow_xs_focused_warning: 0 1px 2px #1018280d, 0 0 0 4px #fff9ec;

  --overlay: #344054CC;
  --overlay_white: #f9fafb66;
}

/****************************************************************************
 PAGE LAYOUT
****************************************************************************/
html {
  font-size: 10px;
}

body {
  font-family: var(--font_regular);
  background-color: var(--white);
  color: var(--grey_800);
}

.gradient {
  background-image: url(../images/gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  width: 100vw;
}

main {
  max-width: 1200px;

  margin: auto;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  overflow: auto;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

/****************************************************************************
 MEDIA QUERIES
****************************************************************************/
@media screen and (min-width: 900px) {
  main {
    height: 100vh;
    padding: 40px;
  }
}

/****************************************************************************
 TOAST
****************************************************************************/
.Toastify__toast.toast {
  border-radius: 8px;
  box-shadow: var(--shadow_lg);
  padding: 1.6rem;
}

.Toastify__toast-theme--colored.Toastify__toast--success.toast {
  background: var(--success_50);
  border-color: var(--success_800);
  color: var(--success_800);
}

.Toastify__toast-theme--colored.Toastify__toast--error.toast {
  background: var(--error_50);
  border-color: var(--error_800);
  color: var(--error_800);
}

.Toastify__toast-theme--colored.Toastify__toast--warning.toast {
  background: var(--warning_50);
  border-color: var(--warning_800);
  color: var(--warning_800);
}