/****************************************************************************
 COLORS
****************************************************************************/
:root {
  --white: #ffffff;

  --grey_25: #fcfcfd;
  --grey_50: #f9fafb;
  --grey_100: #f2f4f7;
  --grey_200: #eaecf0;
  --grey_300: #d0d5dd;
  --grey_400: #98a2b3;
  --grey_500: #667085;
  --grey_600: #475467;
  --grey_700: #344054;
  --grey_800: #1d2939;
  --grey_900: #101828;

  --primary_25: #fafcf5;
  --primary_50: #eef2db;
  --primary_100: #e1e8c2;
  --primary_200: #d4dea9;
  --primary_300: #c7d390;
  --primary_400: #b9c879;
  --primary_500: #abbc61;
  --primary_600: #87954b;
  --primary_700: #646e36;
  --primary_800: #3f4621;
  --primary_900: #1a1d0e;

  --secondary_25: #f2fafb;
  --secondary_50: #d0eef2;
  --secondary_100: #aee1e7;
  --secondary_200: #8dd4dc;
  --secondary_300: #6dc6d0;
  --secondary_400: #4eb7c3;
  --secondary_500: #2fa8b6;
  --secondary_600: #238691;
  --secondary_700: #18636b;
  --secondary_800: #0f3f45;
  --secondary_900: #061a1d;

  --tertiary_25: #fcf6f6;
  --tertiary_50: #f5dfdd;
  --tertiary_100: #edc8c5;
  --tertiary_200: #e4b1ae;
  --tertiary_300: #db9b97;
  --tertiary_400: #d28581;
  --tertiary_500: #c8706b;
  --tertiary_600: #9f5753;
  --tertiary_700: #753f3c;
  --tertiary_800: #4a2725;
  --tertiary_900: #1f100f;

  --success_25: #E3F7DE;
  --success_50: #C6EEBE;
  --success_100: #AAE69D;
  --success_200: #8EDD7D;
  --success_300: #71D55C;
  --success_400: #55CC3C;
  --success_500: #45B12E;
  --success_600: #399426;
  --success_700: #2E761F;
  --success_800: #225917;
  --success_900: #173B0F;

  --error_25: #fee5ee;
  --error_50: #feccdc;
  --error_100: #fd98b9;
  --error_200: #fc6c9b;
  --error_300: #fb4882;
  --error_400: #fa236a;
  --error_500: #f30553;
  --error_600: #cb0445;
  --error_700: #a20337;
  --error_800: #7a0329;
  --error_900: #51021c;

  --warning_25: #fff9ec;
  --warning_50: #fff3d9;
  --warning_100: #fee8b3;
  --warning_200: #fedc8c;
  --warning_300: #fdd166;
  --warning_400: #fdcb53;
  --warning_500: #fdc540;
  --warning_600: #dc6803;
  --warning_700: #b54708;
  --warning_800: #93370d;
  --warning_900: #7a2e0e;

  --font_brand: 'grand_hotelregular', 'Helvetica', 'Helvetica Neue', sans-serif;
  --font_regular: 'Lato', 'Helvetica', 'Helvetica Neue', sans-serif;

  --shadow_xs: 0 1px 2px #1018280d; /* box-shadow */
  --shadow_sm: drop-shadow(0 1px 3px #10182810) drop-shadow(0 1px 2px #10182806); /* filter */
  --shadow_md: ;
  --shadow_lg: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);

  --shadow_xs_focused: 0 1px 2px #1018280d, 0 0 0 4px #e1e8c2;
  --shadow_xs_focused_error: 0 1px 2px #1018280d, 0 0 0 4px #fee5ee;
  --shadow_xs_focused_warning: 0 1px 2px #1018280d, 0 0 0 4px #fff9ec;
}

html {
  font-size: 10px;
}

/****************************************************************************
 PAGE LAYOUT
****************************************************************************/
body {
  font-family: var(--font_regular);
  background-color: var(--grey_25);
  color: var(--grey_800);
}

button {
  cursor: pointer;
  font-family: var(--font_regular);
}

nav {
  height: 4rem;
}

nav.ui.menu {
  background-color: var(--white);
}

nav a.header.item {
  font-family: var(--font_brand);
  font-size: 2rem;
}

footer.ui .vertical .segment {
  padding: 1rem;
}

.copyright {
  font-size: 0.9rem;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px calc(100vh - 70px);
}

.page-container {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  overflow: auto;
}

main {
  max-width: 1200px;

  margin: auto;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: auto;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.wrapper,
.wrapper-two,
.wrapper-scroll {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.wrapper-scroll {
  /* overflow: scroll; */
}
.block {
  margin: auto;
  width: 90%;
}

.pageheader {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 3rem 2rem;
  text-align: center;
}

.custom-container {
  margin: 2rem;
  padding: 1rem;
}
.centered {
  text-align: center;
}
.list-space {
  display: inline-block;
}
.list-check {
  margin: 0 1rem;
}
.button-container {
  margin: 1rem;
}
.ui .button {
  background-color: var(--primary_500);
  color: var(--white);
}
.ui .button:hover {
  background-color: var(--primary_600);
  color: var(--white);
}
.ui .card.feature-card,
.ui .card.note-card,
.ui .card.landing-card {
  border-radius: 2rem;
  -webkit-box-shadow: 0px 4px 8px 0px #46637350;
  -moz-box-shadow: 0px 4px 8px 0px #46637350;
  box-shadow: 0px 4px 8px 0px #46637350;
  padding: 1rem;
}
.ui .card.feature-card {
  background-color: var(--primary_500);
  background-image: linear-gradient(
    to right bottom,
    var(--primary_200),
    var(--primary_500)
  );
}
.ui .card.feature-card:hover {
  background-color: var(--secondary_500);
  background-image: linear-gradient(
    to right bottom,
    var(--secondary_200),
    var(--secondary_500)
  );
}
.ui .card.note-card,
.ui .card.goal-card {
  padding: 2rem;
}
.ui .header.feature-header {
  color: var(--white);
}
.feature-icon {
  margin-top: 1rem;
  height: 8rem;
}
.add-container {
  margin: 3rem auto;
}
.no-style-button {
  background: transparent;
  border: none;
  color: var(--primary_500);
}
.no-style-button:hover {
  color: var(--secondary_500);
}
.ui.button.activity-button {
  background-color: var(--secondary_500);
  color: var(--white);
}
.ui.button.activity-button:hover {
  background-color: var(--primary_600);
  color: var(--white);
}
.card-button {
  display: inline-block;
}
.hide {
  display: none;
}
.light {
  color: var(--secondary_500);
}
.dark {
  color: var(--primary_500);
}
.light-bg {
  background-color: #ff989725;
}
.edit-goal {
  margin: 1rem 0 1rem 2rem;
}
.footer-link {
  color: var(--grey_800);
}
.footer-link:hover {
  color: var(--secondary_500);
}
.ui .message {
  background-color: var(--white);
}
.nav-logo {
  height: 3rem;
}
.start-button {
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  color: var(--grey_800);
  font-size: 1.25rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 4px 8px 0px #46637350;
  -moz-box-shadow: 0px 4px 8px 0px #46637350;
  box-shadow: 0px 4px 8px 0px #46637350;
  margin: 2rem;
}
.start-button:hover {
  background-color: var(--secondary_500);
  background-image: linear-gradient(
    to right bottom,
    var(--secondary_200),
    var(--secondary_500)
  );
  color: var(--white);
}
.tagline {
  color: var(--white);
}
.more-padding {
  margin-top: 4rem;
}
.negativeText {
  color: var(--error_700);
}
.positiveText {
  color: #2c662d;
}

/****************************************************************************
 LANDING
****************************************************************************/
.ui.masthead {
  height: 90vh;
}
.ui.vertical.masthead.segment {
  background-image: linear-gradient(
    to right bottom,
    var(--primary_200),
    var(--primary_500)
  );
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.landing-header {
  font-family: 'grand_hotelregular';
  font-size: 10rem;
}
.landing-col-header {
  font-size: 1.8rem;
}
.ui .card.landing-card {
  height: 42vh;
  padding: 2rem;
}
.ui .card.landing-card:hover {
  background-color: var(--secondary_500);
  background-image: linear-gradient(
    to right bottom,
    var(--secondary_200),
    var(--secondary_500)
  );
  color: var(--grey_800);
}
.icon-padding {
  margin-bottom: 2rem;
}

/****************************************************************************
 CALENDAR
****************************************************************************/
.react-calendar__navigation {
  display: none;
}
.react-calendar__navigation__arrow {
  background-color: transparent;
  border: none;
  font-size: 3rem;
}

.react-calendar__navigation__label {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.react-calendar__tile {
  height: 6rem;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}

.react-calendar__tile--active {
  background-color: linear-gradient(
    to right bottom,
    var(--secondary_200),
    var(--secondary_500)
  );
  color: var(--white);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: var(--primary_500);
  background-color: linear-gradient(
    to right bottom,
    var(--secondary_200),
    var(--secondary_500)
  );
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  font-size: 1.2rem;
}

/****************************************************************************
 MEDIA QUERIES
****************************************************************************/
/* @media screen and (min-width: 980px) {
} */

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
  main {
    height: 100vh;
    padding: 40px;
  }

  .layout {
    background-image: linear-gradient(to bottom, #b9c87940, var(--white));
    display: grid;
    grid-template-columns: 150px auto;

    position: relative;
  }

  .layout::before {
    content: '';

    background-image: linear-gradient(
      to bottom,
      var(--primary_50),
      var(--white)
    );

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 50vh;
    width: 100%;
  }

  .page-container {
    background-color: var(--grey_25);
    border-radius: 40px 0 0 0;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    width: calc(100vw - 150px);
  }
}

@media screen and (min-width: 1200px) {
}

/****************************************************************************
 TOAST
****************************************************************************/
.Toastify__toast.toast {
  border-radius: 8px;
  box-shadow: var(--shadow_lg);
  padding: 1.6rem;
}

.Toastify__toast-theme--colored.Toastify__toast--success.toast {
  background: var(--success_50);
  border-color: var(--success_800);
  color: var(--success_800);
}

.Toastify__toast-theme--colored.Toastify__toast--error.toast {
  background: var(--error_50);
  border-color: var(--error_800);
  color: var(--error_800);
}

.Toastify__toast-theme--colored.Toastify__toast--warning.toast {
  background: var(--warning_50);
  border-color: var(--warning_800);
  color: var(--warning_800);
}