.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;

  height: 100%;
  width: 100%;
}

.tabsWrapper {
  grid-column: 1 / 6;
  grid-row: 2;
}

.addContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  grid-gap: 1rem;
  align-items: start;
}

.reminder {
  grid-row: 2 / 3;
}

.reminder strong {
  color: var(--error_600);
}

.timer {
  display: none;
}

@media only screen and (min-width: 900px) {
  .layout {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: max-content max-content repeat(5, 1fr) max-content;
    column-gap: 1rem;
    row-gap: 2rem;
  }

  .header {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
  }

  .tracker {
    grid-column: 1 / 6;
    grid-row: 3 / 8;
  }

  .addContainer {
    grid-column: 6 / 9;
    grid-row: 4 / -1;
  }

  .timer {
    grid-column: 6 / 9;
    grid-row: 1 / 4;

    display: block;
  }

  .reminder {
    grid-column: 1 / 6;
    grid-row: 8 / 8;
  }

  .addForm {
  }

  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
