.card {
  background-color: var(--white);
  border-radius: 2rem;
  filter: var(--shadow_sm);
  padding: 2rem;

  height: 100%;
  width: 100%;
}

.card.hover:hover {
  background-color: var(--grey_25);
}

