.primary,
.secondary,
.disabled {
  border-radius: 4px;
  box-shadow: 0px 1px 6px #46637340;
  color: var(--grey_800);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.25);
  border: none;
}

.primary,
.secondary {
  min-width: 8rem;
}

/********************************************
 PRIMARY
********************************************/
.primary {
  background-color: var(--primary_500);
  border: 1px solid var(--primary_500);
}

.primary:hover {
  box-shadow: 0 3px 6px #46637340;
  color: var(--white);
}

.primary:active,
.primary:focus {
  border: 1px solid var(--primary_600);
}

/********************************************
 SECONDARY
********************************************/
.secondary {
  background-color: var(--secondary_500);
  border: 1px solid var(--secondary_500);
}

.secondary:hover {
  border: 1px solid var(--secondary_600);
  box-shadow: 0 3px 6px #46637340;
}

.secondary:active,
.secondary:focus {
  border: 1px solid var(--secondary_600);
  box-shadow: 0 3px 6px #46637340;
  color: var(--secondary_600);
}
