.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.6rem;

  height: 8rem;
  min-width: 20rem;
}

.field.withLabel {
  height: 10.6rem;
}

.group {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.toggle {
  background-color: var(--primary_50);
  border: 2px solid var(--primary_50);
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 1.6rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.toggle.selected {
  background-color: var(--primary_100);
  border-color: var(--primary_300);
}