.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.tab {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;
  width: 80%;
}

.tab:hover {
  cursor: pointer;
}

.active {
  background-color: var(--secondary_50);
  border-radius: 4px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}
