.userInfoTab {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2.4rem;

  padding: 1rem 0;

  width: 100%;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.imageContainer {
  height: 12rem;
  width: 12rem;

  border: 1px solid var(--grey_200);
  border-radius: 50%;
  box-shadow: var(--shadow_xs);
  overflow: hidden;
}

.avatarActions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1.4rem;
}

.extensionInfo {
  display: none;

  background-color: var(--primary_25);
  border: 1px solid var(--grey_200);
  border-radius: 0.8rem;
  box-shadow: var(--shadow_xs);
  padding: 1rem;
}

.permissions {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.profileActions {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 600px) {
  .userInfoTab {
    grid-template-columns: repeat(2, 1fr);
  }

  .avatar {
    gap: 3rem;
  }

  .extensionInfo {
    display: flex;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .info {
    grid-template-columns: repeat(2, 1fr);

    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .permissions {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .profileActions {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }

  .imageContainer {
    height: 14rem;
    width: 14rem;
  }
}

@media only screen and (min-width: 900px) {
  .avatar {
    gap: 4rem;
  }

  .imageContainer {
    height: 16rem;
    width: 16rem;
  }
}