.container {
  text-align: center;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  height: 4rem;
  width: 4rem;
}

.icon img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.title {
  color: var(--grey_800);
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .icon {
    height: 6rem;
    width: 6rem;
    margin-right: 0;
  }

  .title {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .icon {
    height: 8rem;
    width: 8rem;
  }
}
