.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  align-content: flex-start;

  max-height: 100%;
}

.list button, .list a {
  width: 100%;
}

.icon {
  height: 2rem;
  width: 2rem;
}

@media only screen and (min-width: 600px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
