.label {
  position: absolute;
  top: 0;
  font-size: 1.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.container {
  position: relative;
}

.progress {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
