.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  grid-gap: 2rem;

  height: 100%;
  width: 100%;
}

.soon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.clock {
  height: 100px;
  width: 100px;
}
